*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;          
    }

a {
    color: White;
    text-decoration: none;
    font-size: 16px;  
    transition: 0.3s;
    font-weight: 600;
    }

a:hover{
    color: pink;
    font-size: 18px; /*aumenta o menu ao selecionar*/   
        
    }
.logo{
    height: 70px;
    width: 164px;
    padding: 2%;

}

nav{
    display:flex;
    justify-content: space-between;
    align-items: top;
    background-image: url(./assets/backgroundatualizado.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    background: #e7e7e7; 
}

.navlist{
    list-style: none;
    display: flex;
    padding: 2%;
}

.navlist li{
    letter-spacing: 3px;
    margin-left: 25px; 
}

.navbar{
    cursor: pointer;
    display: none;
}   
.navbar div{
    width: 36px;
    height: 5px;
    background:pink;
    margin: 4px;
    transition: 0.5s;
}

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .navlist {
      position: absolute;
      top: 20vh;
      width: 100vw;
      height: 80vh;
      background: #e7e7e7;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .navlist li {
      margin-left: 0;
      opacity: 1;
      align-items: center;
    }
    .navlist a{
        color: blueviolet;
    }
    .navbar {
      display: block;
      margin: 40px;
    }
  }
  
  .navlist.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .navbar.active .line1 {
    transform: rotate(-45deg) translate(-6px, 8px);
  }
  
  .navbar.active .line2 {
    opacity: 0;
  }
  
  .navbar.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }



