*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.center{
 height: 550px;
 background-image: url(./assets/ImagemSalao.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.sobrepor{
    height: 120px;
    width: 100%;
    background: rgba(217, 217, 217, 0.37);
}

.menu-mobile{
    display: none;
}

.LogoSalao{
    float: left;
    margin: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu{
    text-align: right;
    width: 100%;
    padding:  46px 0;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 16px;
    pori
    
   
   
}

.menu a:hover{
    color: aquamarine;
    font-size: 19px; /*aumenta o menu ao selecionar*/
    
}

.menu .menuec{
    padding: 0 59px;
}

.menu{
    display: block;
}
.menu-mobile{
    font-size: 20px;
    padding:  46px;
    text-align: right;
    display: block; 
    
    
}

.navbar{
    cursor: pointer;
}

/*.logo{
height: 70px;
width: 164px;
float: left;
margin: 10px;
background:url("./assets/Lurdinha OG.png") center center/164px no-repeat; Outra forma de configurar a logo*/




